.all-recipes {
  text-align: center;
  position: relative;
  padding-left: 150px;
}
.search-placeholder {
  font-size: 50px;
  text-align: center;
  color: #444;
}
.recipe-page-nav {
  display: block;
  height: 50px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  p {
    display: inline-block;
    color: $darker-blue;
    font-family: helvetica;
  }
}
.recipe-page-arrow {
  height: 50px;
  width: 30px;
}
.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  float: left;
  height: 100vh;
  width: 135px;
  border-right: 1px solid $orange;
  padding: 10px;
  padding-left: 20px;
  padding-top: 100px;
  text-align: left;
  overflow: auto;
  a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 22px;
    color: $darker-blue;
    font-weight: bold;
  }
  label {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    color: $darker-blue;
  }
}
