.all-recipes {
  text-align: center;
  position: relative;
  padding-left: 150px;
}
.search-placeholder {
  font-size: 50px;
  text-align: center;
  color: #444;
}
.recipe-page-nav {
  display: block;
  height: 50px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  p {
    display: inline-block;
    color: $darker-blue;
    font-family: helvetica;
  }
}
.recipe-page-arrow {
  height: 50px;
  width: 30px;
}
.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  float: left;
  height: 100vh;
  width: 135px;
  border-right: 1px solid $orange;
  padding: 10px;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 0px;
  text-align: left;
  overflow: auto;
  a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 22px;
    color: $darker-blue;
    font-weight: bold;
  }
  label {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    color: $darker-blue;
  }
}

// query at width 440
@media screen and (max-width: 440px){
  .all-recipes {
    padding: 0;
  }
  .sidebar {
    position: fixed;
    left: -160px;
    top: 174px;
    float: left;
    height: auto;
    width: 135px;
    border: 1px solid $orange;
    padding: 10px;
    padding-left: 20px;
    padding-right: 35px;
    text-align: left;
    overflow: auto;
    background: $white;
    transition: left 0.5s;
    box-shadow: inset -30px 0px 5px #dcdcdc;
    a {
      text-decoration: none;
      display: block;
      margin-top: 10px;
      font-size: 22px;
      color: $darker-blue;
      font-weight: bold;
    }
    label {
      display: block;
      font-size: 20px;
      margin-top: 10px;
      color: $darker-blue;
    }
  }
  .sidebar.open-sidebar {
    left: 0px;
    transition: left 0.5s;
  }
}

@media screen and (max-width: 320px){
  .sidebar {
    top: 124px;
  }
}

@media only screen and (min-device-width: 320px){
  @viewport {
    width: 321px;
  }
}
