body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  min-width: 300px;
}
.container {
  width: 100%;
  height: 100%;
}
.header {
  height: 100px;
  background: $orange;
  position: relative;
  .logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 49px;
    top: 5px;
  }
  h1 {
    margin: 0;
    display: inline-block;
    position: absolute;
    left: 4px;
    font-size: 40px;
    top: 55px;
    color: white;
    // margin-top: -11px;
    // margin-left: 17px;
  }
  a {
    text-align: center;
    float: right;
    text-decoration: none;
    color: white;
    font-family: helvetica;
    font-size: 15px;
    .header-icon {
      width: 50px;
      height: 50px;
      margin: 15px 10px 4px 10px;
      &:hover {
        width: 58px;
        height: 58px;
        margin: 11px 6px 0px 6px;
      }
    }
    p {
      margin: 0;
    }
  }
}

.whole-container {
  position: relative;
  width: 100vw;
  height: 100%;
}

// media query 440
@media screen and (max-width: 440px){
  .header {
    height: 190px;
    text-align: center;
    .logo {
      position: static;
      display: block;
      margin: 0 auto;
    }
    h1 {
      position: static;
      display: block;
      margin: 0 auto;
      margin-top: -11px;
      margin-left: 16px;
    }
    a {
      float: none;
      display: inline-block;
      margin-top: -15px;;
    }
    a:first-child {
      display: block;
      padding-top: 25px;
    }
  }
}

// query at width 320px
@media screen and (max-width: 320px){
  .header {
    height: 140px;
    .logo {
      margin-bottom: 15px;
    }
    h1 {
      display: none;
    }
    a p {
      display: none;
    }
  }
  .header a .header-icon {
    width: 40px;
    height: 40px;
    margin: 10px 5px 1px 5px;
    &:hover {
      width: 48px;
      height: 48px;
      margin: 8px 1px -5px 1px;
    }
  }
}
