.new-recipe-page {
  padding: 10px;
}
.dropzone, .new-photo-container {
  width: 50vw;
  height: 37.5vw;
  background: #fff;
  border: 4px dashed #bbb;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  img {
    width: 23vw;
    height: 21vw;
    margin-top: 18%;
    margin-right: 10%;
  }
}
.new-photo-container {
  overflow: hidden;
  img {
    height: 37.5vw;
    width: auto;
    margin: 0 -100%;
  }
}
.new-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 10px;
  width: 40vw;
  input[placeholder="Recipe Name"] {
    font-size: 4vw;
    width: 38vw;
    min-width: 250px;
    border: none;
    margin: 4px;
    background: transparent;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border-bottom: 1px solid black;
      margin-bottom: 9px;
    }
  }
}
.form-keywords {
  display: inline-block;
  p.new-keyword {
    display: inline-block;
    margin: 5px;
    padding: 4px;
    line-height: 80%;
    border: 0.5px solid $darker-blue;
    color: black;
    border-radius: 20px;
  }
}

.new-recipe-page form {
  input[type="submit"] {
    background: white;
    font-size: 20px;
    height: 25px;
    width: 25px;
    border: 1px solid #bbb;
    border-radius: 10px;
    line-height: 16px;
    &:focus {
      outline: none;
    }
  }
  input[type="text"] {
    background: none;
    font-size: 16px;
    height: 25px;
    width: 180px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
    &:focus {
      border-bottom: 1px solid black;
      outline: none;
      margin-bottom: 9px;
    }
  }
}
.new-recipe-page textarea {
  display: block;
  width: 40vw;
  min-width: 200px;
  min-height: 40px;
  font-size: 16px;
  background: none;
  border: none;
  resize: none;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}
.form-ingredient-list {
  display: inline-block;
  float: right;
  width: 40%;
  border: 1px solid $orange;
  border-radius: 5px;
  margin-right: 3;
  margin-bottom: 15px;
  padding: 10px;
  input[type="number"] {
    height: 20px;
    width: 90px;
    font-size: 16px;
    vertical-align: top;
    &:focus {
      outline: none;
    }
  }
}
.form-step-list {
  display: inline-block;
  width: 50%;
  input[type="text"] {
    width: 42vw;
  }
}
.form-ingredient, .form-step {
  font-family: helvetica;
  font-size: 15px;
  line-height: 20px;
}
.create-button, .change-button {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 50px;
  width: 200px;
  font-size: 24px;
  background: $darker-blue;
  color: $white;
  border: none;
  box-shadow: inset 0 0 5px #000;
  transition: color 0.7s;
  &:hover {
    background: #00a3cc;
    color: white;
  }
}

// query at 570 width
@media screen and (max-width: 570px){
  .new-recipe-page {
    padding: 0px;
  }
  .dropzone, .new-photo-container {
    display: block;
    width: 90vw;
    height: 67.5vw;
    margin: 0 auto;
    img {
      width: 46vw;
      height: 42vw;
    }
  }
  .new-photo-container {
    img {
      height: 67.5vw;
      width: auto;
    }
  }
  .new-details {
    display: block;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 15px;
    input[placeholder="Recipe Name"] {
      font-size: 20px;
    }
  }
  .form-ingredient-list {
    float: none;
    display: block;
    width: 85vw;
    margin: 0 auto;
    ul {
      margin-top: 0;
    }
  }
  .form-step-list {
    display: block;
    width: 85vw;
    padding-right: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    ol {
      margin-top: 0;
    }
    input[type="text"] {
      width: 70vw;
    }
  }
}
