.profile-page {
  width: 100%;
  text-align: center;
  .profile-tab-list {
    display: block;
    border-bottom: 2px solid $orange;
  }
}
.profile-tab, .selected-profile-tab {
  line-height: 37px;
  padding: 9px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid $orange;
  text-decoration: none;
  font-size: 20px;
  margin-right: 2vw;
  margin-left: 2vw;
  background: transparent;
  border-bottom: transparent;
  color: $darker-blue;
  transition: padding-top 0.3s;
}
.selected-profile-tab {
  background: $white;
  border-top: 6px solid $orange;
  padding-top: 5px;
}
.profile-tab:hover {
  padding-top: 14px;
  transition: padding-top 0.3s;
}
