$orange: #ff7d00;

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  height: 100px;
  background: $orange;
  position: relative;
  .logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45px;
    top: 5px;
  }
  h1 {
    margin: 0;
    position: absolute;
    left: 15px;
    font-size: 40px;
    top: 45px;
    color: white;
  }
  a {
    text-align: center;
    float: right;
    text-decoration: none;
    color: white;
    font-family: helvetica;
    font-size: 15px;
    .header-icon {
      width: 50px;
      height: 50px;
      margin: 15px 10px 4px 10px;
      &:hover {
        width: 58px;
        height: 58px;
        margin: 11px 6px 0px 6px;
      }
    }
    p {
      margin: 0;
    }
  }
}

.all-recipes {
  text-align: center;
}
.recipe-home {
  display: inline-block;
  width: 200px;
  height: auto;
  vertical-align: top;
  border: 1px solid $orange;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  text-align: left;
  font-family: helvetica;
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  p {
    display: inline-block;
  }
  .home-description {
    display: block;
  }
}

.login-div, .signup-div {
  width: 300px;
  height: 200px;
  border: 1px solid $orange;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  h2 {
    font-family: helvetica;
    font-size: 30px;
    margin-bottom: 10px;
  }
  input[type=text], input[type=password] {
    height: 20px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  input[type=submit] {
    width: 100px;
    font-size: 30px;
  }
}

.signup-div {
  height: 230px;
}
