$orange: #ff7d00;

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  height: 100px;
  background: $orange;
  position: relative;
  .logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45px;
    top: 5px;
  }
  h1 {
    margin: 0;
    position: absolute;
    left: 15px;
    font-size: 40px;
    top: 45px;
    color: white;
  }
  a {
    text-align: center;
    float: right;
    text-decoration: none;
    color: white;
    font-family: helvetica;
    font-size: 15px;
    .header-icon {
      width: 50px;
      height: 50px;
      margin: 15px 10px 4px 10px;
      &:hover {
        width: 58px;
        height: 58px;
        margin: 11px 6px 0px 6px;
      }
    }
    p {
      margin: 0;
    }
  }
}

.whole-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.all-recipes {
  text-align: center;
}
.recipe-home {
  display: inline-block;
  width: 250px;
  height: auto;
  vertical-align: top;
  border: 1px solid $orange;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  text-align: left;
  font-family: helvetica;
  overflow: hidden;
  .photo {
    width: 250px;
    height: auto;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    margin-left: 10px;
  }
  p {
    display: inline-block;
    margin-left: 10px;
    .like-icon {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
    .tried-icon {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
  .home-description {
    display: block;
  }
}
.recipe-button-container {
  img {
    margin-left: 10px;
    vertical-align: middle;
  }
  .bookmark-tag {
    height: 40px;
    width: 28px;
  }
  .like-tag {
    width: 28px;
    height: 28px;
  }
}

.login-div, .signup-div {
  width: 300px;
  height: 200px;
  border: 1px solid $orange;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  h2 {
    font-family: helvetica;
    font-size: 30px;
    margin-bottom: 10px;
  }
  input[type=text], input[type=password] {
    height: 20px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  input[type=submit] {
    width: 100px;
    font-size: 30px;
  }
}

.signup-div {
  height: 230px;
}

.profile-page {
  margin: 10px;
}

.new-recipe-page {

}
.deleteButton {
  height: 15px;
  width: 15px;
}
.timer {
  height: 20px;
  width: 20px;
}
.dropzone {
  width: 200px;
  height: 170px;
  background: #fff;
  border: 3px dashed #bbb;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  img {
    width: 80px;
    height: 80px;
    margin-top: 45px;
  }
}
.new-details {
  display: inline-block;
}
.author .edit-button {
  height: 30px;
  width: 30px;
}

.modal-wrap {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.confirm-modal {
  height: 150px;
  width: 300px;
  background: $orange;
  margin: 0 auto;
  margin-top: 100px;
}
